@use '../../styles/theme' as *;
@use '../../styles/structure' as *;

.NavBar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 1.4em;
  justify-content: flex-start;
  align-items: center;
  background: $bgNavBar;

  a {
    @include navItem;
  }
}
