@use '../../styles/theme' as *;
@use '../../styles/textStyle' as *;

.NavBar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 1.4em;
  justify-content: flex-start;
  align-items: center;
  background: $bgNavBar;

  a {
    @include font-size(18, 18, 1.2);
    @include font-family;
    margin: 1em;
    color: $clrNavItems;
  }
}
