@use '../../../styles/theme' as *;

.Card {
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  border-radius: 5px;
  padding: 1em;
  text-decoration: none;
  &:hover {
    background: red;
    color: white;
  }
}
